*{
    padding: 0;
    margin: 0;
}

#game {
    display: flex;
}
#area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh; 
    width: 80%;
    border-right: 1px solid black;
}

.box{
    display: flex;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: auto;
    background-color: hsl(160, 100%, 75%);
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
}

.box:hover{
    background-color: cadetblue;
}


/*Imagenes*/
.contentBox{
    visibility: hidden;
    transform: rotateY(90deg);
    border-radius: 0.5rem; 
}


@keyframes acertado {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}


#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    width: 20%;
}
#menu-panel {
    flex-direction: column;
    row-gap: 0.5rem;
}
#menu-panel-sizeSection{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: larger;
}
#menu-panel select {
    height: 1.2rem;
}

#reset{
    width: 10rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    box-shadow: 5px 7px black;
}

#reset:hover{
    background-color: rgb(255, 255, 255);
    transition: all 0.1s ease-in;
}

#reset:active{
    transform: translateY(7px);
    box-shadow: 0px 0px black;
    transition: all 0.1s ease-in-out;
}

@media screen and (max-width:1900px) {
    #game {
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    #area {
        height: auto;
        width: auto;
    }

    #menu {
        width: 100%;
        height: 10rem;
    }

}

@media screen and (max-width:1500px) {
    #menu-panel {
        display: inline-flex;
        flex-direction: row;
        column-gap: 1rem;
    }
    #menu-panel select {
        height: 1.1rem;
    }
 
    img {
        width: 145px;
    }

}

@media screen and (max-width:1100px) {
    img {
        width: 120px;  
    }
}

  